{% extends "base.html" %}

{% block content %}

<style>
    body {
        background-image: url("../../static/slider-image1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h2 {
        color: rgba(0, 85, 255, 0.945);
        text-shadow: 2px 2px 4px rgba(219, 224, 240, 0.729);
        letter-spacing: 2px;
    }

    .ml-auto {
        margin-left: auto;
        font-weight: bolder;
        font-size: large;
    }

    .fw-bold {
        font-size: 2em;
    }


</style>

<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">

            <div class="col-lg-6 mb-7 mb-lg-0">
                <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.658);
              backdrop-filter: blur(30px);
              color:rgb(2, 5, 39);
              ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-7">Hello There!</h2>
                        <p class="lead mb-4" style="font-weight: bold; ">Welcome to our innovative recipe-generating
                            app, where culinary exploration meets
                            artificial intelligence! Are you tired of staring at your kitchen pantry, unsure of what
                            delectable
                            dish to whip up with the limited ingredients at hand? Or perhaps you're craving a specific
                            recipe
                            but missing a vital ingredient? Fear not, as our AI-powered platform is here to elevate your
                            cooking
                            experience to extraordinary heights. </p>
                        <p class="lead mb-4" style="font-weight: bold; ">Seamlessly blending cutting-edge technology
                            with your dietary restrictions and available
                            ingredients, our app effortlessly generates personalized recipes tailored to your
                            preferences. Say goodbye to cooking dilemmas and hello to a world of delicious
                            possibilities. Let's cook up something extraordinary together!</p>

                        <div class="d-grid gap-2">
                            <a href="login" class="btn btn-primary btn-lg mb-3">Log In</a>
                            <a href="signup" class="btn btn-outline-primary btn-lg">Sign Up</a>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock %}
