{%extends "base.html"%}
{%block content %}

<div class="container mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup.html">Sign Up</a>
      </li>
      
    </ul>
  </div>

    <h2>It looks like your username was entered incorrectly or is not in our database.
        Please take the time to check your login credentials or register for access to our content. </h2>


{% endblock%}