{%extends "base2.html"%}
{%block content %}


<div class="container mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup.html">Sign Up</a>
      </li>
      
    </ul>
  </div>

<br>
<br>
<br>
<br>
<br>
<h1 style="color: rgb(89, 240, 89); font-family: Arial, sans-serif; padding: 10px;"> You have successfully signed in. Please enjoy your day!</h1>>


{% endblock%}