{% extends "base.html" %}

{% block content %}


<div class="container mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="signup.html">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
   
  </ul>
</div>



<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Register Today!</h2>
            <form method="POST" action="/signup.html" onsubmit="return validatePassword();">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-2">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" name="first" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" name="last" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <input type="username" id="form3Example3" name="username" class="form-control" />
                    <label class="form-label" for="form3Example3">Username</label>
                  </div>
                </div>


              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="password" id="form3Example4" name="password" class="form-control" />
                    <label class="form-label" for="form3Example4">Password*</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="password" id="form3Example5" name="confirm_password" class="form-control" />
                    <label class="form-label" for="form3Example5">Confirm Password*</label>
                  </div>
                </div>
                <p>*Must contain uppercase, lowercase, atleast 8 characters, and end in a number* </p>
                <br>
                <br>
              </div>

             


                <label for="sel2" name="allergies" class="form-label">Allergies (hold shift to select more than
                  one):</label>
                <select multiple class="form-select" id="sel2" name="sellist2">
                  <option>Tree Nuts</option>
                  <option>Eggs</option>
                  <option>Shellfish</option>
                  <option>Milk</option>
                  <option>Soy</option>
                  <option>Gluten</option>
                </select>
              </div>



              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>

              

              <p class="text-center text-muted mt-8 mb-0">Have already an account? <a href="/"
                  class="fw-bold text-body"><u>Login here</u></a></p>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-8 mb-lg-0">
        <img
          src="https://s2.qwant.com/thumbr/474x354/d/f/0617d37e9a076f4431775dbf0c3e560e70a15a084b0252fb92a5b0d719d1ec/th.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%3Fid%3DOIP.i5Yx6SWyxlzFSg_-hpg2uQHaFi%26pid%3DApi&q=0&b=1&p=0&a=0"
          class="w-100 rounded-4 shadow-4" alt="" />
      </div>
    </div>
  </div>
</section>
</body>

</html>

{% endblock%}