{%extends "base2.html"%}
{%block content %}

<div class="container mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup.html">Sign Up</a>
      </li>
      
    </ul>
  </div>

  <br>
<br>
<br>
<br>
<br>
<h1 style="color: green; font-family: Arial, sans-serif; padding: 10px;">
It looks like you've entered the wrong credentials, or you are not a registered member. Please retry or sign up today!</h1>


{% endblock%}