{% extends "base.html" %}

{% block content %}


<section class="text-center text-lg-start">
    <style>
        .cascading-right {
            margin-right: -50px;
        }

        @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }

        ul {
            list-style-type: none;
        }
    </style>

    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Register Today!</h2>
                        <form method="POST" action="/signup">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <div class="form-outline">
                                        <input type="text" id="form3Example1" name="first" class="form-control"/>
                                        <label class="form-label" for="form3Example1">First name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="form3Example2" name="last" class="form-control"/>
                                        <label class="form-label" for="form3Example2">Last name</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <div class="form-outline">
                                        <input type="username" id="form3Example3" name="username" class="form-control"/>
                                        <label class="form-label" for="form3Example3">Username</label>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="password" id="form3Example4" name="password"
                                                   class="form-control"/>
                                            <label class="form-label" for="form3Example4">Password*</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="password" id="form3Example5" name="confirm_password"
                                                   class="form-control"/>
                                            <label class="form-label" for="form3Example5">Confirm Password*</label>
                                        </div>
                                    </div>
                                    <p>*Must contain uppercase, lowercase, atleast 8 characters, and end in a
                                        number* </p>
                                    <br>
                                    <br>
                                </div>


                                <label for="sel2" name="allergies" class="form-label">Allergies (hold Ctrl or Cmd to select
                                    more than one):</label>
                                <select multiple class="form-select" id="sel2" name="allergies">
                                    <option>Tree Nuts</option>
                                    <option>Eggs</option>
                                    <option>Shellfish</option>
                                    <option>Milk</option>
                                    <option>Soy</option>
                                    <option>Gluten</option>
                                </select>
                            </div>


                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>


                            <p class="text-center text-muted mt-8 mb-0">Have already an account? <a href="login"
                                                                                                    class="fw-bold text-body"><u>Login
                                here</u></a></p>
                        </form>
                        <br>
                        <div style="color: #9C1A1C">
                            {% if error_type == 'requirements' %}
                            <p>Password does not meet the requirements:( <br> Double check that it meets the
                                requirements
                                below:</p>
                            <ul>
                                <li>Must have an upper case letter</li>
                                <li>Must have a lowercase letter</li>
                                <li>Must end in a number</li>
                                <li>Must be at least 8 characters</li>
                                <li>Password must match</li>
                            </ul>
                            {% elif error_type == 'unique' %}
                            <p>That username is not available please try again</p>
                            {% elif error_type == 'match' %}
                            <p>Passwords do not match please try again</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-8 mb-lg-0">
                <img
                        src="../../static/Food.png"
                        class="w-100 rounded-4 shadow-4" alt=""/>
            </div>
        </div>
    </div>
</section>
</body>

</html>

{% endblock%}